<!-- <form [formGroup]="fullForm">
    
        <label for="name">First name: </label>
        <input class="form-control form-control-lg" id="name" type="text" formControlName="name">
    
        <label for="lastName">Last name: </label>
        <input class="form-control form-control-lg" id="lastName" type="text" formControlName="lastName">
    
        <button class="btn btn-secondary" type="submit" [disabled]="!personalForm.valid">Submit</button>
</form> -->
<form [formGroup]="address" (ngSubmit)="onSubmit()">
        <h2>Address</h2>
    
        <label for="street">Street: </label>
        <input class="form-control form-control-lg" id="street" type="text" formControlName="street">
    
        <label for="city">City: </label>
        <input class="form-control form-control-lg" id="city" type="text" formControlName="city">
    
        <label for="state">State: </label>
        <input class="form-control form-control-lg" id="state" type="text" formControlName="state">
    
        <label for="zip">Zip Code: </label>
        <input class="form-control form-control-lg" id="zip" type="text" formControlName="zip">

        <p>Complete the form to enable button.</p>
        <button class="btn btn-secondary" type="submit" [disabled]="!address.valid">Submit</button>
</form>
<form [formGroup]="contact" (ngSubmit)="onSubmit()">
    <h2>Contact</h2>
    <label for="phone">Phone: </label>
    <input class="form-control form-control-lg" id="phone" type="text" formControlName="phone">
    <label for="social">Social: </label>
    <select multiple formControlName="socialLink">
        <option value="" disabled>Choose social links</option>
        <option *ngFor="let social of Social" [ngValue]="social" (change)="changeSocial($event)">{{social}}</option>
     </select>
    <button class="btn btn-secondary" type="submit" [disabled]="!contact.valid">Submit</button>
</form>
<form [formGroup]="education" (ngSubmit)="onSubmit()">
    <h2>Education</h2>
    <label for="school">School: </label>
    <input class="form-control form-control-lg" id="school" type="text" formControlName="schoolName">
    <label for="startDate">StartDate: </label>
    <select multiple formControlName="socialLink">
        <option value="" disabled>Choose social links</option>
        <option *ngFor="let social of Social" [ngValue]="social" (change)="changeSocial($event)">{{social}}</option>
     </select>
    <button class="btn btn-secondary" type="submit" [disabled]="!contact.valid">Submit</button>
</form>

